@media only screen and (min-width : 768px) {
  .navbar-collapse.custom-menu {
      display: none!important;
  }
}

.menu-header {
  padding: 10px;
}

.menu-item {
  background-color: gray;
  height: 1000px;
  padding: 10px;
  margin-bottom: 15px;
}

.menu-item-header {
  font-weight: bold;
  padding-bottom: 10px;
}
.menu-item-content {
  color: white;
}